<html>
<head>
<title></title>
</head>
<body>
<form action="/register" method="post">
	<p>user register</p>
	<table> 
		<tr> 
			<td> username： </td> 
			<td> 
				<input type="text" name="username"> 
				<div id="div1" style="display:inline"> 
				</div> 
			</td> 
		</tr> 
		<tr> 
			<td> password： </td> 
			<td> 
				<input type="password" name="password"> 
				<div id="div2" style="display:inline"> 
				</div> 
			</td> 
		</tr> 
		<tr> 
			<td> phone： </td> 
			<td> 
				<input type="text" name="phone"> 
				<div id="div3" style="display:inline"> 
				</div> 
			</td> 
			</tr> 
		<tr> 
			<td> eamil： </td> 
			<td> 
				<input type="text" name="email"> 
				<div id="div4" style="display:inline"> 
				</div> 
			</td> 
		</tr> 
		<tr align="center"> 
			<td align="center"> 
				<input type="submit" value="register"><input type="reset" value="reset"> 
			</td> 
		</tr> 
	</table> 
</form>
</body>
</html>
